<div class="container">
  <div class="row">
    <div class="col-3">
			<%= render "layouts/prefecture", prefectures: @prefectures %>
    </div>

    <div class="col-8 offset-1 mb-3">
      <% if params[:people].present? %>
        <% @reviews.first(1).each do |review| %>
          <h2 class="text-center m-4"><%= review.people_i18n %>　が選択されたレビュー一覧</h2>
        <% end %>
      <% else params[:usefulness].present? %>
        <% @reviews.first(1).each do |review| %>
          <h2 class="text-center m-4"><%= review.usefulness_i18n %>　が選択されたレビュー一覧</h2>
        <% end %>
      <% end %>
      <div class ="m-2 text-right">
        <%= link_to "戻る", 'javascript:history.back()', class: "btn btn-outline-secondary" %>
      </div>
      <p class="text-right mt-5 mr-5">全 <%= @reviews.count %> 件</p>
      <div class="col-12 mx-auto">
        <%= render "search_review", reviews: @reviews %>
      </div>
    </div>

  </div>
</div>