<div class="container">
  <div class="row">
    <div class="col-3">
			<%= render "layouts/prefecture", prefectures: @prefectures %>
    </div>

    <div class="col-8 offset-1 pt-5">
      <div class="mb-3">
        <h2 class="text-center"><%= @prefecture.prefecture_name %>　のミヤゲ一覧</h2>
        <div class ="m-3 text-right">
          <%= link_to "戻る", root_path, class: "btn btn-outline-secondary mt-3" %>
        </div>
        <p class="text-right mt-5 mr-5">全 <%= @souvenirs.count %> 件</p>
      </div>
      <div class="row">
       <%= render "public/souvenirs/index", souvenirs: @souvenirs %>
	    </div>

	    <div class="text-right">
      <%= link_to new_souvenir_path, class: "btn btn-outline-dark" do %>
	      <i class="fa-solid fa-plus fa-2xl"></i>
      <% end %>
      </div>
    </div>

  </div>
</div>