<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render "layouts/prefecture", prefectures: @prefectures %>
    </div>

    <div class="col-11 col-lg-8 offset-lg-1 pt-5 mx-auto">
      <div class="row card">
        <%= image_tag "top.jpg", :size => "600x400", class: "card-img" %>
        <div class="card-img-overlay d-flex align-center", style="color: white;">
          <div class="text-center mx-auto my-auto p-lg-5 p-sm-2", style="background-color: rgba(0,0,0,0.7); font-family: 'RocknRoll One', sans-serif;">
            <h1>ミヤゲ屋へようこそ！</h1>
            <p>おみやげのレビューをチェックしておみやげを買いに行こう！<br>
               おみやげを買ったら、レビューしてね！</p>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <h2 class="col-12 mt-5 mb-3 p-3 bg-dark text-white"><i class="fa-solid fa-pen fa-xl"></i> 新着レビュー</h2>
        <% @reviews.each do |review| %>
		      <div class="card-deck col-lg-4 col-md-4 mx-auto mb-3 text-center">
            <%= link_to souvenir_review_path(review.souvenir, review), data: {"turbolinks" => false} do %>
              <div class="card h-100 border-secondary btn btn-outline-secondary", style="width:15rem;">
                <% if review.souvenir.rakuten_image_url.present? %>
                  <img src="<%= review.souvenir.rakuten_image_url %>">
                <% else %>
                  <%= image_tag review.souvenir.get_image, class: "card-img-top width='30%' height='50'" %>
                <% end %>
                <div class="card-body">
                  <h4 class="card-title"><%= review.souvenir.souvenir_name %></h4>
                  <h6 class="card-subtitle m-2">
                    <% if review.souvenir.prefecture.present? %>
                      <i class="fa-solid fa-gift fa-lg"></i> <%= review.souvenir.prefecture.prefecture_name %>&nbsp;のミヤゲ
                    <% else %>
                      <i class="fa-solid fa-gift fa-lg"></i> 登録されていない都道府県 のミヤゲ
                    <% end %>
                  </h6>
                  <p class="card-subtitle m-2">
                    <% if review.user.is_deleted == false %>
                      <i class="fa-solid fa-user fa-lg"></i> <%= review.user.nickname %>
                    <% else review.user.is_deleted == true %>
                      <i class="fa-solid fa-user fa-lg"></i> <span>退会済みユーザー</span>
                    <% end %>
                  </p>
                  <p class="card-subtitle m-2"><%= review.review.truncate(20) %> </p>
                </div>
              </div>
            <% end %>
		      </div>
		    <% end %>
		    <%= link_to "レビューをもっとみる", souvenirs_reviews_path, class: "btn btn-success ml-auto mb-3", data: {"turbolinks" => false} %>
      </div>

      <h2 class="mt-5 mb-3  p-3 bg-dark text-white"><i class="fa-solid fa-magnifying-glass fa-xl"></i> ミヤゲを探す</h2>
      <h4 class="m-3"><i class="fa-solid fa-tags"></i> タグ</h4>
      <div class="row m-4">
        <% Tag.all.each do |tag| %>
          <% if tag.tag_maps.present? %>
            <span><%= link_to search_tags_path(tag_name: tag.tag_name), class: "mb-2 badge badge-pill badge-primary mr-2 p-2 text-light", data: {"turbolinks" => false} do %></span>
              <%= tag.tag_name %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <h4 class="m-3"><i class="fa-regular fa-paper-plane"></i></i> 目的別</h4>
      <div class="row m-4">
        <% @review_people.each do |review| %>
          <% if review.people.present? %>
            <%= link_to search_column_path(people: review.people, usefulness: nil), class: "mb-2 badge badge-pill badge-success mr-2 p-2 text-light", data: {"turbolinks" => false} do %>
              <%= review.people_i18n %>
            <% end %>
          <% end %>
        <% end %>
        <% @review_usefulness.each do |review| %>
          <% if review.usefulness.present? %>
            <%= link_to search_column_path(people: nil, usefulness: review.usefulness), class: "mb-2 badge badge-pill badge-info mr-2 p-2 text-light", data: {"turbolinks" => false} do %>
              <%= review.usefulness_i18n %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <h4 class="m-3"><i class="fa-solid fa-layer-group"></i>カテゴリー</h4>
      <div class="row m-4">
        <%= link_to "食品", search_category_path(name: "food"), class: "mb-2 badge badge-pill badge-warning mr-2 p-2", data: {"turbolinks" => false} %>
        <%= link_to "グッズ", search_category_path(name: "goods"), class: "mb-2 badge badge-pill badge-warning mr-2 p-2", data: {"turbolinks" => false} %>
      </div>

      <h2 class="mt-5 mb-3  p-3 bg-dark text-white"><i class="fa-solid fa-magnifying-glass fa-xl"></i> レビューを探す</h2>
      <h4 class="m-3"><i class="fa-solid fa-tags"></i> タグ</h4>
      <div class="row m-4">
        <% Tag.all.each do |tag| %>
          <% if tag.tag_maps.present? %>
            <span><%= link_to search_review_tag_path(tag_name: tag.tag_name), class: "mb-2 badge badge-pill badge-primary mr-2 p-2 text-light", data: {"turbolinks" => false} do %></span>
              <%= tag.tag_name %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <h4 class="m-3"><i class="fa-regular fa-paper-plane"></i></i> 目的別</h4>
      <div class="row m-4">
        <% @review_people.each do |review| %>
          <% if review.people.present? %>
            <%= link_to search_review_column_path(people: review.people, usefulness: nil), class: "mb-2 badge badge-pill badge-success mr-2 p-2 text-light", data: {"turbolinks" => false} do %>
              <%= review.people_i18n %>
            <% end %>
          <% end %>
        <% end %>
        <% @review_usefulness.each do |review| %>
          <% if review.usefulness.present? %>
            <%= link_to search_review_column_path(people: nil, usefulness: review.usefulness), class: "mb-2 badge badge-pill badge-info mr-2 p-2 text-light", data: {"turbolinks" => false} do %>
              <%= review.usefulness_i18n %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>