<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render "layouts/prefecture", prefectures: @prefectures %>
      <div class="row  m-5">
        <%= link_to "ゲストログイン", user_guest_sign_in_path, class: "btn btn-outline-dark sign_in", method: :post %>
      </div>
    </div>

    <div class="col-8 offset-1 pt-5">
      <div class="row card">
        <%= image_tag "top.jpg", class: "card-img" %>
        <div class="card-img-overlay d-flex align-center", style="color: white;">
          <div class="text-center mx-auto my-auto p-5", style="background-color: rgba(0,0,0,0.7); font-family: 'RocknRoll One', sans-serif;">
            <h1>ミヤゲ屋へようこそ！</h1>
            <p>おみやげのレビューをチェックしておみやげを買いに行こう！<br>
               おみやげを買ったら、レビューしてね！</p>
          </div>
        </div>
      </div>

      <div class="m-3">
        <h3 class="m-3">新着レビュー</h3>
      </div>
      <div class="row mt-3">
        <% @reviews.each do |review| %>
		      <div class="card-deck col-4 mx-auto mb-3 text-center">
          <%= link_to souvenir_review_path(review.souvenir, review) do %>
            <div class="card h-100 border-secondary btn btn-outline-secondary", style="width:15rem;">
              <%= image_tag review.souvenir.get_image, class: "card-img-top width='30%' height='50'" %>
              <div class="card-body">
                <h4 class="card-title"><%= review.souvenir.souvenir_name %></h4>
                <h6 class="card-subtitle m-2"><%= review.souvenir.prefecture.prefecture_name %></h6>
                <p class="card-subtitle m-2"><%= review.user.nickname %> </p>
	              <p class="card-subtitle m-2"><%= review.review.truncate(20) %> </p>
              </div>
	          </div>
          <% end %>
		      </div>
		    <% end %>
      </div>

      <h3 class="m-3">タグで探す</h3>
      <div class="row">
        <% Tag.all.each do |tag| %>
          <span><%= link_to search_tags_path(tag_name: tag.tag_name), class: "badge badge-pill badge-primary mr-2 text-light" do %></span>
            <%= tag.tag_name %>
          <% end %>
        <% end %>
      </div>

      <h3 class="m-3">項目別に探す</h3>
      <div class="row">
        <% @review_people.each do |review| %>
          <%= link_to search_column_path(people: review.people, usefulness: nil), class: "badge badge-pill badge-success mr-2 text-light" do %>
            <%= review.people_i18n %>
          <% end %>
        <% end %>
        <% @review_usefulness.each do |review| %>
          <%= link_to search_column_path(people: nil, usefulness: review.usefulness), class: "badge badge-pill badge-info mr-2 text-light" do %>
            <%= review.usefulness_i18n %>
          <% end %>
        <% end %>
      </div>


      <h3 class="m-3">カテゴリー</h3>
        <div class="row">
          <% @category_names.each do |category| %>
            <%= link_to category, search_category_path( name: category ), class: "badge badge-warning mr-2"  %>
          <% end %>
        </div>

    </div>
  </div>
</div>