<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2 class="text-center m-5">管理者用TOP</h2>
      <table class="table table-border">
        <tbody>
          <tr>
            <td class="text-center"><%= link_to "ユーザー一覧", admin_users_path, class: "btn btn-outline-secondary" %></td>
            <td class="text-center align-middle">登録者数&emsp;<%= @user.count %>　人</td>
          </tr>
          <tr>
            <td class="text-center"><%= link_to "ミヤゲ一覧", admin_souvenirs_path, class: "btn btn-outline-success" %></td>
            <td class="text-center align-middle">登録数&emsp;<%= @souvenir.count %>　個</td>
          </tr>
          <tr>
            <td class="text-center"><%= link_to "県名一覧", admin_prefectures_path, class: "btn btn-outline-primary" %></td>
            <td class="text-center align-middle">登録県数&emsp;<%= @prefecture.count %>　都道府県</td>
          </tr>
          <tr>
            <td class="text-center"><%= link_to "レビュー一覧", reviews_admin_souvenirs_path, class: "btn btn-outline-info" %></td>
            <td></td>
          </tr>
          <tr>
            <td class="text-center"><%= link_to "ほしい！一覧", wants_admin_souvenirs_path, class: "btn btn-outline-warning" %></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>