<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render "layouts/prefecture", prefectures: @prefectures %>
    </div>

    <div class="col-8 offset-1 pt-5">
      <h2 class="m-3"><%= @souvenir.souvenir_name %> のレビュー編集画面</h2>
      <div class="text-right">
        <%= link_to "戻る", souvenir_review_path(@souvenir, @review), class: "btn btn-outline-secondary", data: {"turbolinks" => false} %>
      </div>

      <%= form_with model: @review, url: souvenir_review_path, method: :patch do |f| %>
        <table class="table m-3">
          <tbody>
            <tr>
              <th class="text-center align-middle">レビュー&emsp;<span class="badge badge-danger">必須</span></th>
              <td class="col-7"><%= f.text_area :review, autofocus: true, class: "form-control", rows: "4" %></td>
              <td></td>
            </tr>
            <tr>
              <th class="text-center align-middle">購入時価格</th>
              <td><%= f.text_field :price, placeholder: "1500", class: "form-control" %></td>
              <td class="align-middle">円</td>
            </tr>
            <tr>
              <th class="text-center align-middle">購入場所</th>
              <td><%= f.text_field :purchase_place, placeholder: "東京駅", class: "form-control" %></td>
              <td></td>
            </tr>
            <tr>
              <th class="text-center align-middle">タグ</th>
              <td><%= f.label :tag_name, "半角スペースを入力することで複数のタグ付けができます。" %>
                  <%= f.text_field :tag_name, value: @tag_list, class: "form-control" %></td>
            </tr>
            <tr>
              <th class="text-center align-middle">貰った？贈った？</th>
              <td class="align-middle"><%= f.radio_button :receive_send, "貰う" %>
                  <%= f.label :receive_send_recive, "貰った", class: "mr-3" %>
                  <%= f.radio_button :receive_send, "贈る" %>
                  <%= f.label :receive_send_send, "贈った" , class: "mr-3" %>
              </td>
              <td></td>
            </tr>
            <tr>
              <th class="text-center align-middle">相手は？</th>
              <td><%= f.select :people, Review.people_i18n.keys.map {|k| [I18n.t("enums.review.people.#{k}"), k]}, {prompt: "選択してください"}, class: "form-control" %></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th class="text-center align-middle">目的は？</th>
              <td><%= f.select :usefulness, Review.usefulnesses_i18n.keys.map {|k| [I18n.t("enums.review.usefulness.#{k}"), k]}, {prompt: "選択してください"}, class: "form-control" %></td>
              <td></td>
            </tr>
            <tr>
              <th class="text-center align-middle">星評価</th>
              <td>
                <div id="edit-star"></div>
                <script>
                  $(document).on('turbolinks:load', function() {
                    let elem = document.querySelector('#edit-star');
                    elem.innerHTML = "";
                    let opt = {
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      starHalf: "<%= asset_path('star-half.png') %>",
                      half: true,
                      scoreName: 'review[star]',
                      score: "<%= @review.star %>",
                    };
                    window.raty(elem, opt);
                   });
                </script>
              </td>
              <td></td>
            </tr>
            <tr>
              <th></th>
              <td class="text-center"><%= f.submit "更新する", class: "btn btn-success p-3", data: {"turbolinks" => false} %></td>
              <td class="text-right">
                <% if @review.user == current_user %>
                  <%= link_to "削除", souvenir_review_path, class: "btn btn-outline-danger p-2", method: :delete, "data-confirm" => "このレビューを削除しますか？", data: {"turbolinks" => false} %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>

  </div>
</div>