<div id="star_<%= souvenir.id %>"></div>
<script>
  $(document).on('turbolinks:load', function() {
    let elem = document.querySelector('#star_<%= souvenir.id %>');
    if(elem == null) return;

    elem.innerHTML = ""
    let opt = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      half: true,
      score: <%= souvenir.reviews.average(:star).to_f.round(1) %>,
      readOnly: true,
    };
    raty(elem, opt);
  });
</script>