<div class="container">
  <div class="row">
    <div class="col-3">
			<%= render "layouts/prefecture", prefectures: @prefectures %>
    </div>

    <div class="col-8 offset-1 pt-5">
    	<div class="mb-3">
        <% if params[:keyword] == 'average_star' %>
          <h2 class="text-center">星評価高い順</h2>
        <% elsif params[:keyword] == 'wants' %>
          <h2 class="text-center">ほしい！多い順</h2>
        <% elsif params[:keyword] == 'reviews' %>
          <h2 class="text-center">レビュー多い順</h2>
        <% else %>
          <h2 class="text-center">ミヤゲ一覧</h2>
        <% end %>
        <div class ="m-2 text-right">
          <%= link_to "戻る", root_path, class: "btn btn-outline-secondary" %>
        </div>
        <p class="text-right mt-5 mr-5">全 <%= @souvenirs.count %> 件</p>
      </div>


      <div class="m-3">
        <%= form_with model: @souvenir, url: souvenirs_path, method: :get, local: true do |f| %>
          <%= f.select :keyword, [ ['ほしい！多い順', 'wants'],
                                   ['レビュー多い順', 'reviews'],
                                   ['星評価高い順', 'average_star']
                                   ], class: "form-control" %>
          <%= f.submit "並び替える", class: "btn btn-outline-primary" %>
        <% end %>
      </div>

      <div class="row">
        <%= render "index", souvenirs: @souvenirs %>
	    </div>

      <% if user_signed_in? %>
	      <div class="text-right">
          <%= link_to new_souvenir_path, class: "btn btn-outline-dark" do %>
	          <i class="fa-solid fa-plus fa-2xl"></i>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>