<div class="container">
  <div class="row">
    <div class="col-3">
			<%= render "layouts/prefecture", prefectures: @prefectures %>
    </div>

    <div class="col-8 offset-1 pt-5">
      <% if @souvenirs.present? %>
    	  <div class="mb-5">
          <h2 class="text-center"><%= @q.souvenir_name_cont %> の検索結果</h2>
          <p class="text-right mr-5">全 <%= @souvenirs.count %> 件</p>
        </div>
        <div class ="m-3 text-right">
          <%= link_to "戻る", root_path, class: "btn btn-outline-secondary" %>
        </div>
        <div class="row">
          <%= render "index", souvenirs: @souvenirs %>
	      </div>
	    <% else %>
	      <h2 class="text-center"><%= @q.souvenir_name_cont %> の検索結果</h2>
        <p class="text-right mr-5">全 <%= @souvenirs.count %> 件</p>
        <h3 class="text-center">一致する結果がありませんでした。</h3>
      <% end %>
    </div>

  </div>
</div>