<div class="container">
  <div class="row">
    <div class="col-3">
			<%= render "layouts/prefecture", prefectures: @prefectures %>
    </div>

    <div class="col-8 offset-1 pt-5">
    	<div class="mb-5">
    	<% if @souvenirs.present? %>
        <h2 class="text-center"><%= @q.souvenir_name_cont %> の検索結果</h2>
        <p class="text-right mr-5">全 <%= @souvenirs.count %> 件</p>
      </div>
      <div class ="m-3 text-right">
        <%= link_to "戻る", root_path, class: "btn btn-outline-secondary" %>
      </div>

      <div class="row">
        <% @souvenirs.each do |souvenir| %>
		    <div class="card-deck col-4 mx-auto mb-3 text-center">
        <%= link_to souvenir_path(souvenir) do %>
			    <div class="card h-100 border-secondary btn btn-outline-secondary", style="width:15rem;">
			      <% if souvenir.rakuten_image_url.present? %>
              <img src="<%= souvenir.rakuten_image_url %>">
            <% else %>
              <%= image_tag souvenir.get_image, class: "card-img-top width='30%' height='50'" %>
            <% end %>
			      <div class="card-body">
				      <h4 class="card-title"><%= souvenir.souvenir_name %></h4>
				      <h6 class="card-subtitle m-2"><%= souvenir.prefecture.prefecture_name %></h6>
				      <p class="card-subtitle m-2">ほしい！：<%= souvenir.wants.count %> 件<br>
				                               レビュー：<%= souvenir.reviews.count %> 件</p>
				      <p class="card-text mt-3"><%= souvenir.introduction.truncate(30) %></p>
				      <!------------------------".truncate(10)" は、文字列を30文字だけ表示する------------------->
            </div>
			    </div>
			  <% end %>
		    </div>
		    <% end %>
	    </div>
	    <% else %>
	      <h2 class="text-center"><%= @q.souvenir_name_cont %> の検索結果</h2>
        <p class="text-right mr-5">全 <%= @souvenirs.count %> 件</p>
        <h3 class="text-center">一致する結果がありませんでした。</h3>
      <% end %>
    </div>
  </div>
</div>