<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2 class="text-center m-3"><%= @user.nickname %> さんのユーザー情報編集</h2>
      <div class="text-right">
         <%= link_to "戻る", admin_users_path, class: "btn btn-outline-secondary" %>
      </div>

       <%= form_with model: @user, url: admin_user_path do |f| %>
      <table class="table text-center m-3">
        <tbody>
          <tr>
            <th>ユーザーID</th>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th class="align-middle">名前</th>
            <td><%= f.text_field :name, autofocus: true, class: "form-control" %></td>
          </tr>
          <tr>
            <th class="align-middle">表示名（ユーザー名）</th>
            <td><%= f.text_field :nickname, class: "form-control" %></td>
          </tr>
          <tr>
            <th class="align-middle">在住県名</th>
            <td><%= f.text_field :residence_prefecture, class: "form-control" %></td>
          </tr>
          <tr>
            <th class="align-middle">メールアドレス</th>
            <td><%= f.email_field :email, class: "form-control" %></td>
          </tr>
          <tr>
            <th class="align-middle">ステータス</th>
            <td><%= f.radio_button :is_deleted, "false" %>
                <%= f.label :is_deleted_false, "有効", class:"mr-5"%>
                <%= f.radio_button :is_deleted, "true" %>
                <%= f.label :is_deleted_true, "退会" %>
            </td>
          </tr>
          <tr>
					  <td></td>
					  <td class="text-center"><%= f.submit "編集内容を保存する", class: "btn btn-success" %></td>
				  </tr>
        </tbody>
      </table>
      <% end %>



    </div>
  </div>
</div>