<div class="container">
  <div class="row">
    <div class="col-3">
      <%= image_tag "logo.png", :style => "width: 100%", class: "my-5" %>
      <div class="text-center mt-5">
        <%= link_to "TOPに戻る", root_path, class: "btn btn-outline-dark" %>
      </div>
    </div>

    <div class="col-5 offset-2 pt-3">
      <h2 class="mb-4 text-center font-weight-bold border-bottom">ログイン</h2>
      <%= form_with model: @user, url: user_session_path do |f| %>
        <div class="mb-2">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <div class="mb-2">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
        <div class="text-center mt-3 mb-5">
          <%= f.submit "ログイン", class: "btn btn-success" %>
        </div>
      <% end %>

      <div class="mt-5">
        <h5 class="border-bottom">まだ登録していない方</h5>
        <%= link_to "こちら", new_user_registration_path, class: "m-3 btn btn-outline-secondary" %>から新規登録してください。
      </div>
    </div>
  </div>
</div>
