<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render "layouts/prefecture", prefectures: @prefectures %>
    </div>

    <div class="col-8 offset-1 pt-5">
      <h2 class="mb-5"><%= current_user.nickname %>さんのレビュー一覧</h2>
      <div class ="m-3 text-right">
        <%= link_to "戻る", user_path, class: "btn btn-outline-secondary" %>
      </div>
      <div class="row">
        <% @user.reviews.each do |review| %>
          <% if review.souvenir.present? %>
            <div class="card-deck col-4 mx-auto mb-3">
              <%= link_to souvenir_review_path(review.souvenir_id, review) do %>
                <div class="card h-100 border-secondary btn btn-outline-primary", style="width:15rem;">
                  <% if review.souvenir.rakuten_image_url.present? %>
                    <img src="<%= review.souvenir.rakuten_image_url %>">
                  <% else %>
                    <%= image_tag review.souvenir.get_image, class: "card-img-top width='30%' height='50'" %>
                  <% end %>
                  <div class="card-body">
                    <h4 class="card-title"><%= review.souvenir.souvenir_name %></h4>
                    <p class="card-text"><%= review.review %></p>
                    <p td class="card-subtitle text-center"><%= review.created_at.strftime('%Y年%m月%d日') %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>