<div class="container">
  <div class="row">
    <div class="col-3">
			<%= render "layouts/prefecture", prefectures: @prefectures %>
    </div>

    <div class="col-8 offset-1 mb-3">
      <h2 class="text-center m-5">
        <% if @user.is_deleted == false %>
           <%= @user.nickname %> さんのレビュー一覧
        <% else @user.is_deleted == true %>
            退会済みユーザー のレビュー一覧
        <% end %>
      </h2>
      <h5 class="text-center my-3 ml-5">在住県 :&emsp; <%= @user.residence_prefecture %></h5>
      <div class ="m-2 text-right">
        <%= link_to "戻る", root_path, class: "btn btn-outline-secondary" %>
      </div>

      <p class="text-right mt-5 mr-5">全 <%= @user.reviews.count %> 件</p>
      <div class="col-12 mx-auto">
       <%= render "public/homes/search_review", reviews: @user.reviews %>
      </div>
    </div>

  </div>
</div>