<div class="container">
  <div class="row">
    <div class="col-3">
			<%= render "layouts/prefecture", prefectures: @prefectures %>
    </div>

    <div class="col-8 offset-1 mb-3">

        <% if @user.is_deleted == false %>
          <h2 class="mt-5"><%= @user.nickname %> さんが</h2>
          <h2 class="text-center">投稿したレビュー一覧</h2>
        <% else @user.is_deleted == true %>
          <h2 class="mt-5">退会済みユーザー が</h2>
          <h2 class="text-center">投稿したレビュー一覧</h2>
        <% end %>

      <h5 class="text-center my-3 ml-5">在住県 :&emsp; <%= @user.residence_prefecture %></h5>
      <div class ="m-2 text-right">
        <%= link_to "戻る", root_path, class: "btn btn-outline-secondary" %>
      </div>

      <p class="text-right mt-5 mr-5">全 <%= @user.reviews.count %> 件</p>
      <div class="col-12 mx-auto">
       <%= render "public/homes/search_review", reviews: @user.reviews %>
      </div>
    </div>

  </div>
</div>