<div class="container">
  <div class="row">
    <div class="col-3">

    </div>

    <div class="col-8 offset-1 pt-5">
      <h2 class="mb-5"><%= current_user.nickname %>さんのほしい！一覧</h2>
      <div class="row">
        <% @user.wants.each do |want| %>
        <div class="card-deck col-4 mx-auto mb-3">
          <%= link_to souvenir_path(want.souvenir_id) do %>
          <div class="card h-100 border-secondary btn btn-outline-warning", style="width:15rem;">
            <%= image_tag want.souvenir.get_image, class: "card-img-top width='30%' height='50'" %>
            <div class="card-body">
              <h4 class="card-title"><%= want.souvenir.souvenir_name %></h4>
              <p class="card-text"><%= want.souvenir.introduction %></p>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>