<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render "layouts/prefecture", prefectures: @prefectures %>
    </div>

    <div class="col-8 offset-1 pt-5">
      <h2 class="mb-5 text-center"><%= current_user.nickname %>  さんのほしい！一覧</h2>
      <div class ="m-3 text-right">
        <%= link_to "戻る", 'javascript:history.back()', class: "btn btn-outline-secondary" %>
      </div>
      <div class="row">
        <% @user.wants.each do |want| %>
          <div class="card-deck col-lg-4 col-sm-4 mx-auto mb-3">
            <%= link_to souvenir_path(want.souvenir_id) do %>
              <div class="card h-100 border-secondary btn btn-outline-warning", style="width:15rem;">
                <% if want.souvenir.rakuten_image_url.present? %>
                  <img src="<%= want.souvenir.rakuten_image_url %>">
                <% else %>
                  <%= image_tag want.souvenir.get_image, class: "card-img-top width='30%' height='50'" %>
                <% end %>
                <div class="card-body">
                  <h4 class="card-title"><%= want.souvenir.souvenir_name %></h4>
                  <p class="card-text"><%= want.souvenir.introduction %></p>
                  <p td class="card-subtitle text-center"><%= want.created_at.strftime('%Y年%m月%d日') %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>