<!DOCTYPE html>
<html>
  <head>
    <title>ミヤゲ屋</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/5c54eb09f0.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!--Google font用記述（topページ-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=RocknRoll+One&display=swap" rel="stylesheet">
    <!--ここまで-->
  </head>

  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "logo.png", :style => "max-width: 20%" %>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="d-flex flex-wrap">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <div class="d-flex align-items-center">
                <% if admin_signed_in? %>
                  <h6 class="text-center m-3 mr-5">管理者ログイン中</h6>
                <% elsif user_signed_in? %>
                  <h6 class="text-center m-3 mr-5">ようこそ、<%= current_user.nickname %> さん</h6>
                <% else %>
                  <%= link_to "ゲストログイン", user_guest_sign_in_path, class: "btn btn-outline-dark sign_in", method: :post %>
                <% end %>
              </div>
              <ul class="navbar-nav ml-auto">
                <% if admin_signed_in? %>
                  <li><%= link_to admin_root_path , class: "nav-link text-light btn btn-dark ml-2" do %>
                        <i class="fa-solid fa-house"></i>
                      <% end %>
                  </li>
                  <li><%= link_to admin_users_path ,class: "nav-link text-light btn btn-dark ml-2" do %>
                        <i class="fa-solid fa-user"> ユーザー</i>
                      <% end %>
                  </li>
                  <li><%= link_to admin_souvenirs_path, class: "nav-link text-light btn btn-dark ml-2" do %>
                        <i class="fa-solid fa-gift"> ミヤゲ</i>
                      <% end %>
                  </li>
                  <li><%= link_to admin_prefectures_path, class: "nav-link text-light btn btn-dark ml-2" do %>
                        <i class="fa-solid fa-location-dot"> 県</i>
                      <% end %>
                  </li>
                  <li><%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-light btn btn-dark ml-2" do %>
                        <i class="fa-solid fa-right-from-bracket"> ログアウト</i>
                      <% end %>
                  </li>
                <% elsif user_signed_in? %>
                  <li><%= link_to root_path, class: "nav-link text-dark btn btn-outline-success ml-2" do %>
                        <i class="fa-solid fa-house"></i>
                      <% end %>
                  </li>
                  <li><%= link_to about_path, class: "nav-link text-dark btn btn-outline-success ml-2" do %>
                        <i class="fa-solid fa-circle-question"></i>
                      <% end %>
                  </li>
                  <li><%=  link_to souvenirs_path, class: "nav-link text-dark btn btn-outline-success ml-2" do %>
                        <i class="fa-solid fa-gift"> ミヤゲ</i>
                      <% end %>
                  </li>
                  <li><%=  link_to user_path ,class: "nav-link text-dark btn btn-outline-success ml-2" do %>
                        <i class="fa-solid fa-circle-user"> マイページ</i>
                      <% end %>
                  </li>
                  <li><%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-dark btn btn-outline-success ml-2" do %>
                        <i class="fa-solid fa-right-from-bracket"> ログアウト</i>
                      <% end %>
                  </li>
                <% else %>
                  <li><%= link_to root_path, class: "nav-link text-dark btn btn-outline-info ml-2" do %>
                        <i class="fa-solid fa-house"></i>
                      <% end %>
                  </li>
                  <li><%= link_to about_path, class: "nav-link text-dark btn btn-outline-info ml-2" do %>
                        <i class="fa-solid fa-circle-question"></i>
                      <% end %>
                  </li>
                  <li><%= link_to souvenirs_path, class: "nav-link text-dark btn btn-outline-info ml-2" do %>
                        <i class="fa-solid fa-gift"> ミヤゲ</i>
                      <% end %>
                  </li>
                  <li><%= link_to new_user_registration_path, class: "nav-link text-dark btn btn-outline-info ml-2" do %>
                        <i class="fa-solid fa-user-plus"> 新規登録</i>
                      <% end %>
                  </li>
                  <li><%= link_to new_user_session_path , class: "nav-link text-dark btn btn-outline-info ml-2" do %>
                        <i class="fa-solid fa-right-to-bracket"> ログイン</i>
                      <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
            <!-----------------------検索窓--------------------------->
            <div class="form-group mt-2 ml-auto">
              <%= search_form_for @q, url: search_souvenirs_path do |f| %>
                <%= f.search_field :souvenir_name_cont, placeholder: "ミヤゲ名を検索", required: true %>
                <button class="btn btn-outline-success" type="submit">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              <% end %>
            </div>
            <!-----------------------検索窓--------------------------->
          </div>
        </div>
      </nav>
    </header>
    <!--フラッシュメッセージ用-->
    <div class="text-center">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %>">
          <%= value %>
        </div>
      <% end %>
    </div>
    <!--ここまで-->
    <%= yield %>

<!--================= 上に行くJs ====================-->
    <a href="#top" class="scroll-top-btn">
      <i class="fa-regular fa-circle-up fa-2x" data-toggle=tooltip data-placement="bottom" title="最上部へ移動"></i>
　  </a>
<!--==================================================-->
    <footer class="text-center border-top border-dark m-5">
      Copyright ©ミヤゲ屋  All Rights Reserved.
      <%= link_to new_admin_session_path do %>
        <i class="fa-solid fa-gear"></i>
      <% end %>
    </footer>
  </body>
</html>
